doctype html
html
  head
    title= title
  body
    h1= title

    a(href="/update-cobj") Add to this table

    if parks.length
      table(border='1')
        thead
          tr
            th Name
            th Country
            th Website
            th Image URL
            th Opening Date
        tbody
          each park in parks
            tr
              td= park.properties.name
              td= park.properties.country
              td: a(href=park.properties.website)= park.properties.website
              td: img(src=park.properties.image_url, alt="park image", width="100")
              td= park.properties.opening_date
    else
      p No parks available.
